@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

@layer components {
  .pad-shadow {
    box-shadow: 0 4px 0 0 rgba(0,0,0,0.3);
  }
  
  .pad-active:active {
    transform: translateY(2px);
    box-shadow: none;
  }
}
